body {
    background-color: var(--gray-1);
}

.header-background {
    position: relative;
    width: 100%;
    height: 50%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.main-container .title {
    color: var(--text-color);
    margin-bottom: 1%;
}

.search-bar-form {
    width: 100%;
}

.action-content {
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.action-content .action-item {
    width: 40%;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 2.5% 2%;
    margin-bottom: 2%;
    transition: .25s;
    cursor: pointer;
}
.action-content .action-item .action-item-pokeball {
    width: 20px;
    height: 20px;
    opacity: .5;
}
.action-content .action-item .text {
    color: var(--white-color);
}
.action-content .action-item .action-item-arrow {
    color: var(--white-color);
    font-size: 1rem;
}

.action-content #action-item-pokedex {
    background-color: var(--red-color);
}
.action-content #action-item-pokedex:hover {
    transform: translateY(-5px);
}
.action-content #action-item-types {
    background-color: var(--green-color);
    opacity: .5;
}
.action-content #action-item-skills {
    background-color: var(--blue-color);
    opacity: .5;
}
.action-content #action-item-moves {
    background-color: var(--orange-color);
    opacity: .5;
}